<form>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input
      type="text"
      id="nome"
      [(ngModel)]="nome"
      class="form-control"
      placeholder="Digite seu nome"
    />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="email"
      class="form-control"
      placeholder="Digite seu email"
    />
  </div>
  <div class="form-group">
    <label for="mensagem">Mensagem</label>
    <textarea
      id="mensagem"
      [(ngModel)]="mensagem"
      class="form-control"
      placeholder="Digite sua mensagem"
    ></textarea>
  </div>
  <button type="button" (click)="enviarMensagem()" class="btn btn-primary mt-3">
    Enviar Mensagem
  </button>
</form>
