<div class="container mt-4">
    <h2>{{ title }}</h2>
    <h3>{{ title }} - Lista de Desenhos Animados</h3>
    <p>{{ mensagem }}</p>
    <p>Total de produtos: {{ produtos.length }}</p>
    <p>Primeiro produto: {{ produtos[0] }}</p>
<app-produtos [produtoslist]="produtos" (eventoProd)="receberEvento($event)"></app-produtos>
<app-contact [mensagem]="mensagem" (eventoContato)="receberEvento($event)"></app-contact>
<button (click)="mostrarMensagem = !mostrarMensagem" class="btn btn-primary">
    {{ mostrarMensagem ? 'Esconder' : 'Mostrar' }} Mensagem
  </button>
  <div *ngIf="mostrarMensagem; else noMessage">
    <p class="alert alert-info">Mensagem Visível!</p>
  </div>
  <ng-template #noMessage>
    <p class="alert alert-warning">Nenhuma Mensagem</p>
  </ng-template>
</div>
